.socket-holder {
  position: relative;
}

.socket {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
}

/* LEFT SOCKET */
.left-socket {
  text-align: left;
  justify-content: flex-start;
  left: 4px;
}

.left-socket::before {
  content: "";
  margin: 4px;
  height: 6px;
  width: 6px;
  border: 2px solid orangered;
  border-radius: 50%;
}

/* RIGHT SOCKET */
.right-socket {
  text-align: right;
  justify-content: flex-end;
  right: 0;
}

.right-socket::after {
  content: "";
  margin: 4px;
  height: 6px;
  width: 6px;
  border: 2px solid orangered;
  border-radius: 50%;
}
