:root {
  --connector-size: 10px;
  --border-width: 2px;
}

.socket-holder {
  position: relative;
}

.socket {
  background: white;
  position: absolute;
  width: 100%;
  height: var(--connector-size);
  width: var(--connector-size);
  border: var(--border-width) solid orangered;
}

.left-socket {
  top: 50%;
  left: calc((var(--connector-size) / 2 + var(--border-width)) * -1);
  transform: translateY(-50%);
}

.right-socket {
  top: 50%;
  right: calc((var(--connector-size) / 2 + var(--border-width)) * -1);
  transform: translateY(-50%);
}

.top-socket {
  top: calc((var(--connector-size) / 2 + var(--border-width)) * -1);
  left: 50%;
  transform: translateX(-50%);
}

.bottom-socket {
  bottom: calc((var(--connector-size) / 2 + var(--border-width)) * -1);
  left: 50%;
  transform: translateX(-50%);
}

.input {
}

.output {
  border-radius: 50%;
}
